.courses-container {
    text-align: center;
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 100px;
}

.courses-container h2 {
    color: #6a11cb;
    font-size: 28px;
    margin-bottom: 20px;
}

.courses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.course-cards {
    background: white;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.course-cards h3 {
    color: #333;
    font-size: 22px;
}

.course-cards p {
    font-size: 16px;
    margin-bottom: 15px;
}

.enroll-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #6a11cb;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.enroll-btn:hover {
    background-color: #2575fc;
}
